<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>展示全部数据</title>
</head>
<body>
{#<form action="" method="post">#}
{#    <table border="1px">#}
{#        {% for g in g_all %}#}
{#            {% for s in s_all %}#}
{#                {% if s.g == g %}#}
{#                    <tr>#}
{#                        <td>{{ g.g_name }}</td>#}
{#                        <td>{{ s.s_name }}</td>#}
{#                        <td>{{ s.age }}</td>#}
{#                        <td>{{ s.address }}</td>#}
{#                        <td>{{ s.email }}</td>#}
{#                        <td>{{ s.password }}</td>#}
{#                    </tr>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#        {% endfor %}#}
{#    </table>#}
{#</form>#}


<form action="" method="post">
    <table border="1px">

            {% for s in s_all %}
                    <tr>
                        <td>{{ s.g.g_name }}</td>
                        <td>{{ s.s_name }}</td>
                        <td>{{ s.age }}</td>
                        <td>{{ s.address }}</td>
                        <td>{{ s.email }}</td>
                        <td>{{ s.password }}</td>
                        <td><a href="{% url 'delete' s.id %}">删除</a></td>
                        <td><a href="{% url 'update' s.id %}">更新</a></td>
                        <td><a href="{% url 'class_view' s.g.id %}">类更新</a></td>
                    </tr>
            {% endfor %}
    <td><input type="text" name = "g_name"></td>
    <td><input type="text" name = "s_name"></td>
    <td><input type="text" name = "age"></td>
    <td><input type="text" name = "address"></td>
    <td><input type="text" name = "email"></td>
    <td><input type="text" name = "password"></td>
    <td><button>提交</button></td>
    </table>



</form>


</body>
</html>