<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>更新</title>
</head>
<body>
<form action="" method="post">
    <table>


        <tr>
            <td>{{ s.g.g_name }}</td>
            <td><input type="text" name = "g_name"></td>
        </tr>

        <tr>
            <td>{{ s.s_name }}</td>
            <td><input type="text" name = "s_name"></td>
        </tr>

        <tr>
            <td>{{ s.age }}</td>
            <td><input type="text" name = "age"></td>
        </tr>

        <tr>
            <td>{{ s.address }}</td>
            <td><input type="text" name = "address"></td>
        </tr>

        <tr>
            <td>{{ s.email }}</td>
            <td><input type="text" name = "email"></td>
        </tr>

        <tr>
            <td>{{ s.password }}</td>
            <td><input type="text" name = "password"></td>
        </tr>
        <tr><td><button>提交</button></td></tr>
    </table>
</form>

</body>
</html>